<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Driver-Babylon</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="assets/babylon.js"></script>
  <script src="../js/auth.js"></script>
  <!-- <script src="js/script.js"></script> -->
</head>
<body>


  <h1 class="homepage">Driver</h1>

  <form action="/level_one" method="GET">
    <button id="home">Play</button>
  </form>

  <form action="/users" method="post">
    <input type="text" name="name" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button>Sign Up</button>
  </form>

  <form id="logInForm">
    <input type="text" name="name" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button id="login">Log In</button>
  </form>

  <div>All Time High Score: 46</div>


</body>
</html>
