<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Driver-Babylon</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="assets/hand-1.3.7.js"></script>
  <script src="assets/cannon.min.js"></script>
  <script src="assets/babylon.js"></script>
  <script src="js/script.js"></script>
</head>
<body>


  <h1 class="homepage">Racing Game</h1>

  <form action="/level_one" method="GET">
    <button id="home">Play</button>
  </form>

  <div>All Time High Score: 42</div>


</body>
</html>
