<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Driver-Babylon</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="../assets/hand-1.3.7.js"></script>
  <script src="../assets/cannon.min.js"></script>
  <script src="http://www.babylonjs.com/oimo.js"></script>
  <script src="../assets/babylon.js"></script>
  <script src="../js/newscene.js"></script>
</head>
<body>

  <canvas id="renderCanvas"></canvas>

  <div class="container">
    <nav>
    <form action="/" method="GET">
      <button id="home">Home</button>
    </form>
      <button id="pause">Pause</button>
      <button id="restart">Restart</button>
    </nav>
    <div id="laps"></div>
    <div id="timescore"></div>
  </div>

</body>
</html>
